/* unvisited link */
a:link {
  color: #ff9955;
}

/* visited link */
a:visited {
  color: #ff9955;
}

/* mouse over link */
a:hover {
  color: #ff9955;
}

/* selected link */
a:active {
  color: #0000EE;
}